.swiper-slide__donate{
    text-align: center;
    margin: auto;
    h2{
        font-size: 40px;
    }
    a.btn_big{
        color: #fff;
        border: 2px solid #fff;
        margin-top: 30px;
    }
}