.swiper-slide{
    position: relative;
    display: flex;
    overflow: hidden;
    &:nth-of-type(1){
        background-image: url(../images/header_bg.png);
        color: #FFF;
    }
    &:nth-of-type(2){
        background-color: $gray;
    }
    &:nth-of-type(5){
        background-color: $gray;
        .swiper-slide__socials{
            margin: auto;
        }
    }
}

.swiper-slide_before{
    position: relative;
    &:after{
        content: '';
        position: absolute;
        height: 200px;
        left: 0;
        right: 0;
        bottom: -250px;
        background-color: aqua;
    }
}

.swiper-slide__iphone{
    position: absolute;
    left: 200px;
    bottom: -200px;
}

.swiper-slide__ipad{
    position: absolute;
    right: -55px;
    bottom: -100px;
}

.swiper-slide__devices{
    position: absolute;
    bottom: -60px;
    width: 70%;
    left: -50px;
}

#small-slide{
    background-image: url('../images/bg_green.png');
    color: #fff;
}

@media screen and (max-width: $break-small) {
    .swiper-slide__iphone{
        display: none;
    }
    .swiper-slide__ipad{
        display: none;
    }
    .swiper-slide__devices{
        display: none
    }
}
