<div class="swiper-slide__socials">
        <ul class="list-inline">
            <li><a href=""><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a></li>
        </ul> 
        <div class="swiper-slide__contact-form">
            <form>
                <label>Newsletter Subscription</label>
                <input placeholder="Enter Email" type="text">
                <button><i class="fa fa-envelope" aria-hidden="true"></i></button>
            </form>
        </div>
</div>