<div class="swiper-slide_first">
   <h1>Meet Perth</h1>
   <p>A stupidly simple, flat PSD. Oh yeah, it's <i>free</i> too!</p>
   <a href="#" class="btn_big">DOWNLOAD <i class="fa fa-cloud-download" aria-hidden="true"></i>
   </a>
</div>
<img class="swiper-slide__iphone" src="./assets/images/iphone5.png"/>
