<div class="map map_hidden">
   <div class="cross">
       <div class="cross__line"></div>
       <div class="cross__line"></div>
   </div>
    <ul class="links list-unstyled">
        <li><a data-lock='home' href="#"><span><i class="fa fa-home" aria-hidden="true"></i></span>home</a></li>
        <li>
            <a data-lock='about' href="#">
                <span><i class="fa fa-heart" aria-hidden="true"></i></span>about me
            </a>  
        </li>
        <li>
            <a data-lock='portfolio' href="#">
                <span><i class="fa fa-desktop" aria-hidden="true"></i></span>portfolio
            </a>
        </li>
        <li>
            <a data-lock='contacts' href="#">
                <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>drop me a line
            </a>
        </li>
    </ul>
</div>