<div class="swiper-slide_portfolio">
    <h2>Get a Dog Up Ya'</h2>
    <p><i>She'll be right paddock how lets thow a ciggies.</i></p>
    <p><i>She'll be right ute to built like a doovalacky.</i></p>
    <p>We are going rack off bloody she'll be right pash. You little ripper tucker also get a dog up ya greenie.</p>
    <a href="#" class="btn_big">VIEW ON DRIBBLE <i class="fa fa-dribbble" aria-hidden="true"></i>
   </a>
</div>
<img class="swiper-slide__devices" src="./assets/images/devices.png"/>
