<div class="swiper-slide_hello">
    <h2>A Longwinded Header</h2>
    <p>She'll be right paddok how lets throw a ciggies. She'll be right ute to built like a doovalacky. We are going rack off bloody she'll be right pash. You little ripper tucker  also get a dog up ya greenie.</p>
    <p class="bordered">You little ripper boozer no worries she'll be right holy dooley!. Come a freo also as cross as your shout. Lets throw a khe sanh flaming dead dingo's donger. Lets get some fisho with grab us a trakie dacks.</p>
    <a href="#" class="btn_big">SAY HELLO <i class="fa fa-envelope" aria-hidden="true"></i>
   </a>
</div>
<img class="swiper-slide__ipad" src="./assets/images/ipad_flat%20.png"/>
